app/code/core/Mage/Sales/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/"
    name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" />
            <complexType name="salesOrderEntity">
                <all>
                    <element name="increment_id" type="xsd:string" minOccurs="0" />
                    <element name="parent_id" type="xsd:string" minOccurs="0" />
                    <element name="store_id" type="xsd:string" minOccurs="0" />
                    <element name="created_at" type="xsd:string" minOccurs="0" />
                    <element name="updated_at" type="xsd:string" minOccurs="0" />
                    <element name="is_active" type="xsd:string" minOccurs="0" />
                    <element name="customer_id" type="xsd:string" minOccurs="0" />
                    <element name="tax_amount" type="xsd:string" minOccurs="0" />
                    <element name="shipping_amount" type="xsd:string" minOccurs="0" />
                    <element name="discount_amount" type="xsd:string" minOccurs="0" />
                    <element name="subtotal" type="xsd:string" minOccurs="0" />
                    <element name="grand_total" type="xsd:string" minOccurs="0" />
                    <element name="total_paid" type="xsd:string" minOccurs="0" />
                    <element name="total_refunded" type="xsd:string" minOccurs="0" />
                    <element name="total_qty_ordered" type="xsd:string" minOccurs="0" />
                    <element name="total_canceled" type="xsd:string" minOccurs="0" />
                    <element name="total_invoiced" type="xsd:string" minOccurs="0" />
                    <element name="total_online_refunded" type="xsd:string" minOccurs="0" />
                    <element name="total_offline_refunded" type="xsd:string" minOccurs="0" />
                    <element name="base_tax_amount" type="xsd:string" minOccurs="0" />
                    <element name="base_shipping_amount" type="xsd:string" minOccurs="0" />
                    <element name="base_discount_amount" type="xsd:string" minOccurs="0" />
                    <element name="base_subtotal" type="xsd:string" minOccurs="0" />
                    <element name="base_grand_total" type="xsd:string" minOccurs="0" />
                    <element name="base_total_paid" type="xsd:string" minOccurs="0" />
                    <element name="base_total_refunded" type="xsd:string" minOccurs="0" />
                    <element name="base_total_qty_ordered" type="xsd:string" minOccurs="0" />
                    <element name="base_total_canceled" type="xsd:string" minOccurs="0" />
                    <element name="base_total_invoiced" type="xsd:string" minOccurs="0" />
                    <element name="base_total_online_refunded" type="xsd:string" minOccurs="0" />
                    <element name="base_total_offline_refunded" type="xsd:string" minOccurs="0" />
                    <element name="billing_address_id" type="xsd:string" minOccurs="0" />
                    <element name="billing_firstname" type="xsd:string" minOccurs="0" />
                    <element name="billing_lastname" type="xsd:string" minOccurs="0" />
                    <element name="shipping_address_id" type="xsd:string" minOccurs="0" />
                    <element name="shipping_firstname" type="xsd:string" minOccurs="0" />
                    <element name="shipping_lastname" type="xsd:string" minOccurs="0" />
                    <element name="billing_name" type="xsd:string" minOccurs="0" />
                    <element name="shipping_name" type="xsd:string" minOccurs="0" />
                    <element name="store_to_base_rate" type="xsd:string" minOccurs="0" />
                    <element name="store_to_order_rate" type="xsd:string" minOccurs="0" />
                    <element name="base_to_global_rate" type="xsd:string" minOccurs="0" />
                    <element name="base_to_order_rate" type="xsd:string" minOccurs="0" />
                    <element name="weight" type="xsd:string" minOccurs="0" />
                    <element name="store_name" type="xsd:string" minOccurs="0" />
                    <element name="remote_ip" type="xsd:string" minOccurs="0" />
                    <element name="status" type="xsd:string" minOccurs="0" />
                    <element name="state" type="xsd:string" minOccurs="0" />
                    <element name="applied_rule_ids" type="xsd:string" minOccurs="0" />
                    <element name="global_currency_code" type="xsd:string" minOccurs="0" />
                    <element name="base_currency_code" type="xsd:string" minOccurs="0" />
                    <element name="store_currency_code" type="xsd:string" minOccurs="0" />
                    <element name="order_currency_code" type="xsd:string" minOccurs="0" />
                    <element name="shipping_method" type="xsd:string" minOccurs="0" />
                    <element name="shipping_description" type="xsd:string" minOccurs="0" />
                    <element name="customer_email" type="xsd:string" minOccurs="0" />
                    <element name="customer_firstname" type="xsd:string" minOccurs="0" />
                    <element name="customer_lastname" type="xsd:string" minOccurs="0" />
                    <element name="quote_id" type="xsd:string" minOccurs="0" />
                    <element name="is_virtual" type="xsd:string" minOccurs="0" />
                    <element name="customer_group_id" type="xsd:string" minOccurs="0" />
                    <element name="customer_note_notify" type="xsd:string" minOccurs="0" />
                    <element name="customer_is_guest" type="xsd:string" minOccurs="0" />
                    <element name="email_sent" type="xsd:string" minOccurs="0" />
                    <element name="order_id" type="xsd:string" minOccurs="0" />
                    <element name="shipping_address" type="typens:salesOrderAddressEntity" minOccurs="0" />
                    <element name="billing_address" type="typens:salesOrderAddressEntity" minOccurs="0" />
                    <element name="items" type="typens:salesOrderItemEntityArray" minOccurs="0" />
                    <element name="payment" type="typens:salesOrderPaymentEntity" minOccurs="0" />
                    <element name="status_history" type="typens:salesOrderStatusHistoryEntityArray" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="salesOrderEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:salesOrderEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="salesOrderAddressEntity">
                <all>
                    <element name="increment_id" type="xsd:string" minOccurs="0" />
                    <element name="parent_id" type="xsd:string" minOccurs="0" />
                    <element name="created_at" type="xsd:string" minOccurs="0" />
                    <element name="updated_at" type="xsd:string" minOccurs="0" />
                    <element name="is_active" type="xsd:string" minOccurs="0" />
                    <element name="address_type" type="xsd:string" minOccurs="0" />
                    <element name="firstname" type="xsd:string" minOccurs="0" />
                    <element name="lastname" type="xsd:string" minOccurs="0" />
                    <element name="company" type="xsd:string" minOccurs="0" />
                    <element name="street" type="xsd:string" minOccurs="0" />
                    <element name="city" type="xsd:string" minOccurs="0" />
                    <element name="region" type="xsd:string" minOccurs="0" />
                    <element name="postcode" type="xsd:string" minOccurs="0" />
                    <element name="country_id" type="xsd:string" minOccurs="0" />
                    <element name="telephone" type="xsd:string" minOccurs="0" />
                    <element name="fax" type="xsd:string" minOccurs="0" />
                    <element name="region_id" type="xsd:string" minOccurs="0" />
                    <element name="address_id" type="xsd:string" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="salesOrderItemEntity">
                <all>
                    <element name="item_id" type="xsd:string" minOccurs="0" />
                    <element name="order_id" type="xsd:string" minOccurs="0" />
                    <element name="quote_item_id" type="xsd:string" minOccurs="0" />
                    <element name="created_at" type="xsd:string" minOccurs="0" />
                    <element name="updated_at" type="xsd:string" minOccurs="0" />
                    <element name="product_id" type="xsd:string" minOccurs="0" />
                    <element name="product_type" type="xsd:string" minOccurs="0" />
                    <element name="product_options" type="xsd:string" minOccurs="0" />
                    <element name="weight" type="xsd:string" minOccurs="0" />
                    <element name="is_virtual" type="xsd:string" minOccurs="0" />
                    <element name="sku" type="xsd:string" minOccurs="0" />
                    <element name="name" type="xsd:string" minOccurs="0" />
                    <element name="applied_rule_ids" type="xsd:string" minOccurs="0" />
                    <element name="free_shipping" type="xsd:string" minOccurs="0" />
                    <element name="is_qty_decimal" type="xsd:string" minOccurs="0" />
                    <element name="no_discount" type="xsd:string" minOccurs="0" />
                    <element name="qty_canceled" type="xsd:string" minOccurs="0" />
                    <element name="qty_invoiced" type="xsd:string" minOccurs="0" />
                    <element name="qty_ordered" type="xsd:string" minOccurs="0" />
                    <element name="qty_refunded" type="xsd:string" minOccurs="0" />
                    <element name="qty_shipped" type="xsd:string" minOccurs="0" />
                    <element name="cost" type="xsd:string" minOccurs="0" />
                    <element name="price" type="xsd:string" minOccurs="0" />
                    <element name="base_price" type="xsd:string" minOccurs="0" />
                    <element name="original_price" type="xsd:string" minOccurs="0" />
                    <element name="base_original_price" type="xsd:string" minOccurs="0" />
                    <element name="tax_percent" type="xsd:string" minOccurs="0" />
                    <element name="tax_amount" type="xsd:string" minOccurs="0" />
                    <element name="base_tax_amount" type="xsd:string" minOccurs="0" />
                    <element name="tax_invoiced" type="xsd:string" minOccurs="0" />
                    <element name="base_tax_invoiced" type="xsd:string" minOccurs="0" />
                    <element name="discount_percent" type="xsd:string" minOccurs="0" />
                    <element name="discount_amount" type="xsd:string" minOccurs="0" />
                    <element name="base_discount_amount" type="xsd:string" minOccurs="0" />
                    <element name="discount_invoiced" type="xsd:string" minOccurs="0" />
                    <element name="base_discount_invoiced" type="xsd:string" minOccurs="0" />
                    <element name="amount_refunded" type="xsd:string" minOccurs="0" />
                    <element name="base_amount_refunded" type="xsd:string" minOccurs="0" />
                    <element name="row_total" type="xsd:string" minOccurs="0" />
                    <element name="base_row_total" type="xsd:string" minOccurs="0" />
                    <element name="row_invoiced" type="xsd:string" minOccurs="0" />
                    <element name="base_row_invoiced" type="xsd:string" minOccurs="0" />
                    <element name="row_weight" type="xsd:string" minOccurs="0" />
                    <element name="gift_message_available" type="xsd:string" minOccurs="0" />
                    <element name="base_tax_before_discount" type="xsd:string" minOccurs="0" />
                    <element name="tax_before_discount" type="xsd:string" minOccurs="0" />
                    <element name="weee_tax_applied" type="xsd:string" minOccurs="0" />
                    <element name="weee_tax_applied_amount" type="xsd:string" minOccurs="0" />
                    <element name="weee_tax_applied_row_amount" type="xsd:string" minOccurs="0" />
                    <element name="base_weee_tax_applied_amount" type="xsd:string" minOccurs="0" />
                    <element name="base_weee_tax_applied_row_amount" type="xsd:string" minOccurs="0" />
                    <element name="weee_tax_disposition" type="xsd:string" minOccurs="0" />
                    <element name="weee_tax_row_disposition" type="xsd:string" minOccurs="0" />
                    <element name="base_weee_tax_disposition" type="xsd:string" minOccurs="0" />
                    <element name="base_weee_tax_row_disposition" type="xsd:string" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="salesOrderItemEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:salesOrderItemEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="orderItemIdQty">
                <all>
                    <element name="order_item_id" type="xsd:int" />
                    <element name="qty" type="xsd:double" />
                </all>
            </complexType>
            <complexType name="orderItemIdQtyArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:orderItemIdQty[]" />
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="salesOrderPaymentEntity">
                <all>
                    <element name="increment_id" type="xsd:string" minOccurs="0" />
                    <element name="parent_id" type="xsd:string" minOccurs="0" />
                    <element name="created_at" type="xsd:string" minOccurs="0" />
                    <element name="updated_at" type="xsd:string" minOccurs="0" />
                    <element name="is_active" type="xsd:string" minOccurs="0" />
                    <element name="amount_ordered" type="xsd:string" minOccurs="0" />
                    <element name="shipping_amount" type="xsd:string" minOccurs="0" />
                    <element name="base_amount_ordered" type="xsd:string" minOccurs="0" />
                    <element name="base_shipping_amount" type="xsd:string" minOccurs="0" />
                    <element name="method" type="xsd:string" minOccurs="0" />
                    <element name="po_number" type="xsd:string" minOccurs="0" />
                    <element name="cc_type" type="xsd:string" minOccurs="0" />
                    <element name="cc_number_enc" type="xsd:string" minOccurs="0" />
                    <element name="cc_last4" type="xsd:string" minOccurs="0" />
                    <element name="cc_owner" type="xsd:string" minOccurs="0" />
                    <element name="cc_exp_month" type="xsd:string" minOccurs="0" />
                    <element name="cc_exp_year" type="xsd:string" minOccurs="0" />
                    <element name="cc_ss_start_month" type="xsd:string" minOccurs="0" />
                    <element name="cc_ss_start_year" type="xsd:string" minOccurs="0" />
                    <element name="payment_id" type="xsd:string" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="salesOrderStatusHistoryEntity">
                <all>
                    <element name="increment_id" type="xsd:string" minOccurs="0" />
                    <element name="parent_id" type="xsd:string" minOccurs="0" />
                    <element name="created_at" type="xsd:string" minOccurs="0" />
                    <element name="updated_at" type="xsd:string" minOccurs="0" />
                    <element name="is_active" type="xsd:string" minOccurs="0" />
                    <element name="is_customer_notified" type="xsd:string" minOccurs="0" />
                    <element name="status" type="xsd:string" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="salesOrderStatusHistoryEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:salesOrderStatusHistoryEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="salesOrderShipmentEntity">
                <all>
                    <element name="increment_id" type="xsd:string" minOccurs="0" />
                    <element name="parent_id" type="xsd:string" minOccurs="0" />
                    <element name="store_id" type="xsd:string" minOccurs="0" />
                    <element name="created_at" type="xsd:string" minOccurs="0" />
                    <element name="updated_at" type="xsd:string" minOccurs="0" />
                    <element name="is_active" type="xsd:string" minOccurs="0" />
                    <element name="shipping_address_id" type="xsd:string" minOccurs="0" />
                    <element name="shipping_firstname" type="xsd:string" minOccurs="0" />
                    <element name="shipping_lastname" type="xsd:string" minOccurs="0" />
                    <element name="order_id" type="xsd:string" minOccurs="0" />
                    <element name="order_increment_id" type="xsd:string" minOccurs="0" />
                    <element name="order_created_at" type="xsd:string" minOccurs="0" />
                    <element name="total_qty" type="xsd:string" minOccurs="0" />
                    <element name="shipment_id" type="xsd:string" minOccurs="0" />
                    <element name="items" type="typens:salesOrderShipmentItemEntityArray" minOccurs="0" />
                    <element name="tracks" type="typens:salesOrderShipmentTrackEntityArray" minOccurs="0" />
                    <element name="comments" type="typens:salesOrderShipmentCommentEntityArray" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="salesOrderShipmentEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:salesOrderShipmentEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="salesOrderShipmentCommentEntity">
                <all>
                    <element name="increment_id" type="xsd:string" minOccurs="0" />
                    <element name="parent_id" type="xsd:string" minOccurs="0" />
                    <element name="created_at" type="xsd:string" minOccurs="0" />
                    <element name="updated_at" type="xsd:string" minOccurs="0" />
                    <element name="is_active" type="xsd:string" minOccurs="0" />
                    <element name="comment" type="xsd:string" minOccurs="0" />
                    <element name="is_customer_notified" type="xsd:string" minOccurs="0" />
                    <element name="comment_id" type="xsd:string" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="salesOrderShipmentCommentEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:salesOrderShipmentCommentEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="salesOrderShipmentTrackEntity">
                <all>
                    <element name="increment_id" type="xsd:string" minOccurs="0" />
                    <element name="parent_id" type="xsd:string" minOccurs="0" />
                    <element name="created_at" type="xsd:string" minOccurs="0" />
                    <element name="updated_at" type="xsd:string" minOccurs="0" />
                    <element name="is_active" type="xsd:string" minOccurs="0" />
                    <element name="carrier_code" type="xsd:string" minOccurs="0" />
                    <element name="title" type="xsd:string" minOccurs="0" />
                    <element name="number" type="xsd:string" minOccurs="0" />
                    <element name="order_id" type="xsd:string" minOccurs="0" />
                    <element name="track_id" type="xsd:string" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="salesOrderShipmentTrackEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:salesOrderShipmentTrackEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="salesOrderShipmentItemEntity">
                <all>
                    <element name="increment_id" type="xsd:string" minOccurs="0" />
                    <element name="parent_id" type="xsd:string" minOccurs="0" />
                    <element name="created_at" type="xsd:string" minOccurs="0" />
                    <element name="updated_at" type="xsd:string" minOccurs="0" />
                    <element name="is_active" type="xsd:string" minOccurs="0" />
                    <element name="sku" type="xsd:string" minOccurs="0" />
                    <element name="name" type="xsd:string" minOccurs="0" />
                    <element name="order_item_id" type="xsd:string" minOccurs="0" />
                    <element name="product_id" type="xsd:string" minOccurs="0" />
                    <element name="weight" type="xsd:string" minOccurs="0" />
                    <element name="price" type="xsd:string" minOccurs="0" />
                    <element name="qty" type="xsd:string" minOccurs="0" />
                    <element name="item_id" type="xsd:string" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="salesOrderShipmentItemEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:salesOrderShipmentItemEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="salesOrderInvoiceEntity">
                <all>
                    <element name="increment_id" type="xsd:string" minOccurs="0" />
                    <element name="parent_id" type="xsd:string" minOccurs="0" />
                    <element name="store_id" type="xsd:string" minOccurs="0" />
                    <element name="created_at" type="xsd:string" minOccurs="0" />
                    <element name="updated_at" type="xsd:string" minOccurs="0" />
                    <element name="is_active" type="xsd:string" minOccurs="0" />
                    <element name="global_currency_code" type="xsd:string" minOccurs="0" />
                    <element name="base_currency_code" type="xsd:string" minOccurs="0" />
                    <element name="store_currency_code" type="xsd:string" minOccurs="0" />
                    <element name="order_currency_code" type="xsd:string" minOccurs="0" />
                    <element name="store_to_base_rate" type="xsd:string" minOccurs="0" />
                    <element name="store_to_order_rate" type="xsd:string" minOccurs="0" />
                    <element name="base_to_global_rate" type="xsd:string" minOccurs="0" />
                    <element name="base_to_order_rate" type="xsd:string" minOccurs="0" />
                    <element name="subtotal" type="xsd:string" minOccurs="0" />
                    <element name="base_subtotal" type="xsd:string" minOccurs="0" />
                    <element name="base_grand_total" type="xsd:string" minOccurs="0" />
                    <element name="discount_amount" type="xsd:string" minOccurs="0" />
                    <element name="base_discount_amount" type="xsd:string" minOccurs="0" />
                    <element name="shipping_amount" type="xsd:string" minOccurs="0" />
                    <element name="base_shipping_amount" type="xsd:string" minOccurs="0" />
                    <element name="tax_amount" type="xsd:string" minOccurs="0" />
                    <element name="base_tax_amount" type="xsd:string" minOccurs="0" />
                    <element name="billing_address_id" type="xsd:string" minOccurs="0" />
                    <element name="billing_firstname" type="xsd:string" minOccurs="0" />
                    <element name="billing_lastname" type="xsd:string" minOccurs="0" />
                    <element name="order_id" type="xsd:string" minOccurs="0" />
                    <element name="order_increment_id" type="xsd:string" minOccurs="0" />
                    <element name="order_created_at" type="xsd:string" minOccurs="0" />
                    <element name="state" type="xsd:string" minOccurs="0" />
                    <element name="grand_total" type="xsd:string" minOccurs="0" />
                    <element name="invoice_id" type="xsd:string" minOccurs="0" />
                    <element name="items" type="typens:salesOrderInvoiceItemEntityArray" minOccurs="0" />
                    <element name="comments" type="typens:salesOrderInvoiceCommentEntityArray" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="salesOrderInvoiceEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:salesOrderInvoiceEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="salesOrderInvoiceItemEntity">
                <all>
                    <element name="increment_id" type="xsd:string" minOccurs="0" />
                    <element name="parent_id" type="xsd:string" minOccurs="0" />
                    <element name="created_at" type="xsd:string" minOccurs="0" />
                    <element name="updated_at" type="xsd:string" minOccurs="0" />
                    <element name="is_active" type="xsd:string" minOccurs="0" />
                    <element name="weee_tax_applied" type="xsd:string" minOccurs="0" />
                    <element name="qty" type="xsd:string" minOccurs="0" />
                    <element name="cost" type="xsd:string" minOccurs="0" />
                    <element name="price" type="xsd:string" minOccurs="0" />
                    <element name="tax_amount" type="xsd:string" minOccurs="0" />
                    <element name="row_total" type="xsd:string" minOccurs="0" />
                    <element name="base_price" type="xsd:string" minOccurs="0" />
                    <element name="base_tax_amount" type="xsd:string" minOccurs="0" />
                    <element name="base_row_total" type="xsd:string" minOccurs="0" />
                    <element name="base_weee_tax_applied_amount" type="xsd:string" minOccurs="0" />
                    <element name="base_weee_tax_applied_row_amount" type="xsd:string" minOccurs="0" />
                    <element name="weee_tax_applied_amount" type="xsd:string" minOccurs="0" />
                    <element name="weee_tax_applied_row_amount" type="xsd:string" minOccurs="0" />
                    <element name="weee_tax_disposition" type="xsd:string" minOccurs="0" />
                    <element name="weee_tax_row_disposition" type="xsd:string" minOccurs="0" />
                    <element name="base_weee_tax_disposition" type="xsd:string" minOccurs="0" />
                    <element name="base_weee_tax_row_disposition" type="xsd:string" minOccurs="0" />
                    <element name="sku" type="xsd:string" minOccurs="0" />
                    <element name="name" type="xsd:string" minOccurs="0" />
                    <element name="order_item_id" type="xsd:string" minOccurs="0" />
                    <element name="product_id" type="xsd:string" minOccurs="0" />
                    <element name="item_id" type="xsd:string" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="salesOrderInvoiceItemEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:salesOrderInvoiceItemEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="salesOrderInvoiceCommentEntity">
                <all>
                    <element name="increment_id" type="xsd:string" minOccurs="0" />
                    <element name="parent_id" type="xsd:string" minOccurs="0" />
                    <element name="created_at" type="xsd:string" minOccurs="0" />
                    <element name="updated_at" type="xsd:string" minOccurs="0" />
                    <element name="is_active" type="xsd:string" minOccurs="0" />
                    <element name="comment" type="xsd:string" minOccurs="0" />
                    <element name="is_customer_notified" type="xsd:string" minOccurs="0" />
                    <element name="comment_id" type="xsd:string" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="salesOrderInvoiceCommentEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:salesOrderInvoiceCommentEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>
        </schema>
    </types>
    <message name="salesOrderListRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="filters" type="typens:filters" />
    </message>
    <message name="salesOrderListResponse">
        <part name="result" type="typens:salesOrderEntityArray" />
    </message>
    <message name="salesOrderInfoRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="orderIncrementId" type="xsd:string" />
    </message>
    <message name="salesOrderInfoResponse">
        <part name="result" type="typens:salesOrderEntity" />
    </message>
    <message name="salesOrderAddCommentRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="orderIncrementId" type="xsd:string" />
        <part name="status" type="xsd:string" />
        <part name="comment" type="xsd:string" />
        <part name="notify" type="xsd:string" />
    </message>
    <message name="salesOrderAddCommentResponse">
        <part name="result" type="xsd:int" />
    </message>
    <message name="salesOrderHoldRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="orderIncrementId" type="xsd:string" />
    </message>
    <message name="salesOrderHoldResponse">
        <part name="result" type="xsd:int" />
    </message>
    <message name="salesOrderUnholdRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="orderIncrementId" type="xsd:string" />
    </message>
    <message name="salesOrderUnholdResponse">
        <part name="result" type="xsd:int" />
    </message>
    <message name="salesOrderCancelRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="orderIncrementId" type="xsd:string" />
    </message>
    <message name="salesOrderCancelResponse">
        <part name="result" type="xsd:int" />
    </message>
    <message name="salesOrderShipmentListRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="filters" type="typens:filters" />
    </message>
    <message name="salesOrderShipmentListResponse">
        <part name="result" type="typens:salesOrderShipmentEntityArray" />
    </message>
    <message name="salesOrderShipmentInfoRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="shipmentIncrementId" type="xsd:string" />
    </message>
    <message name="salesOrderShipmentInfoResponse">
        <part name="result" type="typens:salesOrderShipmentEntity" />
    </message>
    <message name="salesOrderShipmentCreateRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="orderIncrementId" type="xsd:string" />
        <part name="itemsQty" type="typens:orderItemIdQtyArray" />
        <part name="comment" type="xsd:string" />
        <part name="email" type="xsd:int" />
        <part name="includeComment" type="xsd:int" />
    </message>
    <message name="salesOrderShipmentCreateResponse">
        <part name="shipmentIncrementId" type="xsd:string" />
    </message>
    <message name="salesOrderShipmentAddCommentRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="shipmentIncrementId" type="xsd:string" />
        <part name="comment" type="xsd:string" />
        <part name="email" type="xsd:string" />
        <part name="includeInEmail" type="xsd:string" />
    </message>
    <message name="salesOrderShipmentAddCommentResponse">
        <part name="shipmentIncrementId" type="xsd:int" />
    </message>
    <message name="salesOrderShipmentAddTrackRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="shipmentIncrementId" type="xsd:string" />
        <part name="carrier" type="xsd:string" />
        <part name="title" type="xsd:string" />
        <part name="trackNumber" type="xsd:string" />
    </message>
    <message name="salesOrderShipmentAddTrackResponse">
        <part name="result" type="xsd:int" />
    </message>
    <message name="salesOrderShipmentRemoveTrackRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="shipmentIncrementId" type="xsd:string" />
        <part name="trackId" type="xsd:string" />
    </message>
    <message name="salesOrderShipmentRemoveTrackResponse">
        <part name="result" type="xsd:int" />
    </message>
    <message name="salesOrderShipmentGetCarriersRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="orderIncrementId" type="xsd:string" />
    </message>
    <message name="salesOrderShipmentGetCarriersResponse">
        <part name="result" type="typens:associativeArray" />
    </message>
    <message name="salesOrderInvoiceListRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="filters" type="typens:filters" />
    </message>
    <message name="salesOrderInvoiceListResponse">
        <part name="result" type="typens:salesOrderInvoiceEntityArray" />
    </message>
    <message name="salesOrderInvoiceInfoRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="invoiceIncrementId" type="xsd:string" />
    </message>
    <message name="salesOrderInvoiceInfoResponse">
        <part name="result" type="typens:salesOrderInvoiceEntity" />
    </message>
    <message name="salesOrderInvoiceCreateRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="invoiceIncrementId" type="xsd:string" />
        <part name="itemsQty" type="typens:orderItemIdQtyArray" />
        <part name="comment" type="xsd:string" />
        <part name="email" type="xsd:string" />
        <part name="includeComment" type="xsd:string" />
    </message>
    <message name="salesOrderInvoiceCreateResponse">
        <part name="result" type="xsd:string" />
    </message>
    <message name="salesOrderInvoiceAddCommentRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="invoiceIncrementId" type="xsd:string" />
        <part name="comment" type="xsd:string" />
        <part name="email" type="xsd:string" />
        <part name="includeComment" type="xsd:string" />
    </message>
    <message name="salesOrderInvoiceAddCommentResponse">
        <part name="result" type="xsd:string" />
    </message>
    <message name="salesOrderInvoiceCaptureRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="invoiceIncrementId" type="xsd:string" />
    </message>
    <message name="salesOrderInvoiceCaptureResponse">
        <part name="result" type="xsd:string" />
    </message>
    <message name="salesOrderInvoiceVoidRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="invoiceIncrementId" type="xsd:string" />
    </message>
    <message name="salesOrderInvoiceVoidResponse">
        <part name="result" type="xsd:string" />
    </message>
    <message name="salesOrderInvoiceCancelRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="invoiceIncrementId" type="xsd:string" />
    </message>
    <message name="salesOrderInvoiceCancelResponse">
        <part name="result" type="xsd:string" />
    </message>
    <portType name="{{var wsdl.handler}}PortType">
        <operation name="salesOrderList">
            <documentation>Retrieve list of orders by filters</documentation>
            <input message="typens:salesOrderListRequest" />
            <output message="typens:salesOrderListResponse" />
        </operation>
        <operation name="salesOrderInfo">
            <documentation>Retrieve order information</documentation>
            <input message="typens:salesOrderInfoRequest" />
            <output message="typens:salesOrderInfoResponse" />
        </operation>
        <operation name="salesOrderAddComment">
            <documentation>Add comment to order</documentation>
            <input message="typens:salesOrderAddCommentRequest" />
            <output message="typens:salesOrderAddCommentResponse" />
        </operation>
        <operation name="salesOrderHold">
            <documentation>Hold order</documentation>
            <input message="typens:salesOrderHoldRequest" />
            <output message="typens:salesOrderHoldResponse" />
        </operation>
        <operation name="salesOrderUnhold">
            <documentation>Unhold order</documentation>
            <input message="typens:salesOrderUnholdRequest" />
            <output message="typens:salesOrderUnholdResponse" />
        </operation>
        <operation name="salesOrderCancel">
            <documentation>Cancel order</documentation>
            <input message="typens:salesOrderCancelRequest" />
            <output message="typens:salesOrderCancelResponse" />
        </operation>
        <operation name="salesOrderShipmentList">
            <documentation>Retrieve list of shipments by filters</documentation>
            <input message="typens:salesOrderShipmentListRequest" />
            <output message="typens:salesOrderShipmentListResponse" />
        </operation>
        <operation name="salesOrderShipmentInfo">
            <documentation>Retrieve shipment information</documentation>
            <input message="typens:salesOrderShipmentInfoRequest" />
            <output message="typens:salesOrderShipmentInfoResponse" />
        </operation>
        <operation name="salesOrderShipmentCreate">
            <documentation>Create new shipment for order</documentation>
            <input message="typens:salesOrderShipmentCreateRequest" />
            <output message="typens:salesOrderShipmentCreateResponse" />
        </operation>
        <operation name="salesOrderShipmentAddComment">
            <documentation>Add new comment to shipment</documentation>
            <input message="typens:salesOrderShipmentAddCommentRequest" />
            <output message="typens:salesOrderShipmentAddCommentResponse" />
        </operation>
        <operation name="salesOrderShipmentAddTrack">
            <documentation>Add new tracking number</documentation>
            <input message="typens:salesOrderShipmentAddTrackRequest" />
            <output message="typens:salesOrderShipmentAddTrackResponse" />
        </operation>
        <operation name="salesOrderShipmentRemoveTrack">
            <documentation>Remove tracking number</documentation>
            <input message="typens:salesOrderShipmentRemoveTrackRequest" />
            <output message="typens:salesOrderShipmentRemoveTrackResponse" />
        </operation>
        <operation name="salesOrderShipmentGetCarriers">
            <documentation>Retrieve list of allowed carriers for order</documentation>
            <input message="typens:salesOrderShipmentGetCarriersRequest" />
            <output message="typens:salesOrderShipmentGetCarriersResponse" />
        </operation>
        <operation name="salesOrderInvoiceList">
            <documentation>Retrieve list of invoices by filters</documentation>
            <input message="typens:salesOrderInvoiceListRequest" />
            <output message="typens:salesOrderInvoiceListResponse" />
        </operation>
        <operation name="salesOrderInvoiceInfo">
            <documentation>Retrieve invoice information</documentation>
            <input message="typens:salesOrderInvoiceInfoRequest" />
            <output message="typens:salesOrderInvoiceInfoResponse" />
        </operation>
        <operation name="salesOrderInvoiceCreate">
            <documentation>Create new invoice for order</documentation>
            <input message="typens:salesOrderInvoiceCreateRequest" />
            <output message="typens:salesOrderInvoiceCreateResponse" />
        </operation>
        <operation name="salesOrderInvoiceAddComment">
            <documentation>Add new comment to shipment</documentation>
            <input message="typens:salesOrderInvoiceAddCommentRequest" />
            <output message="typens:salesOrderInvoiceAddCommentResponse" />
        </operation>
        <operation name="salesOrderInvoiceCapture">
            <documentation>Capture invoice</documentation>
            <input message="typens:salesOrderInvoiceCaptureRequest" />
            <output message="typens:salesOrderInvoiceCaptureResponse" />
        </operation>
        <operation name="salesOrderInvoiceVoid">
            <documentation>Void invoice</documentation>
            <input message="typens:salesOrderInvoiceVoidRequest" />
            <output message="typens:salesOrderInvoiceVoidResponse" />
        </operation>
        <operation name="salesOrderInvoiceCancel">
            <documentation>Cancel invoice</documentation>
            <input message="typens:salesOrderInvoiceCancelRequest" />
            <output message="typens:salesOrderInvoiceCancelResponse" />
        </operation>
    </portType>
    <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="salesOrderList">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="salesOrderInfo">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="salesOrderAddComment">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="salesOrderHold">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="salesOrderUnhold">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="salesOrderCancel">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="salesOrderShipmentList">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="salesOrderShipmentInfo">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="salesOrderShipmentCreate">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="salesOrderShipmentAddComment">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="salesOrderShipmentAddTrack">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="salesOrderShipmentRemoveTrack">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="salesOrderShipmentGetCarriers">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="salesOrderInvoiceList">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="salesOrderInvoiceInfo">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="salesOrderInvoiceCreate">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="salesOrderInvoiceAddComment">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="salesOrderInvoiceCapture">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="salesOrderInvoiceVoid">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="salesOrderInvoiceCancel">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
    </binding>
    <service name="{{var wsdl.name}}Service">
        <port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </port>
    </service>
</definitions>